/* LAPTOP */

@media screen 
and (min-width: 1200px)
and (max-width: 1600px) {
        .wrapper-items1, 
        .wrapper-items2, 
        .wrapper-items3, 
        .wrapper-items4 {
            gap: 50px;
        }
        #greeting {
            font-size: clamp(.7em, 5vw, 7rem);
        }
        .header__container-img a img {
            width: 75px;
        }
    }

/* /LAPTOP */

@media screen and (max-width: 1024px) {
    .wrapper-items {
        gap: 50px;
    }
    #greeting {
        font-size: clamp(1em, 7vw, 5rem);
    }
    #greetingSecond {
        font-size: clamp(.5em, 2vw, 1em);
    }
    .header__container {
        justify-content: space-around;
    }
    .arrow-down-item {
        width: 50px;
        height: 50px;
    }
    .arrow-down-item::before {
        left: 13px;
        top: 10px;
    }

}
@media screen and (max-width: 425px) {
    .wrapper-items {
        gap: 200px;
    }
    #greeting {
        letter-spacing: 3px;
    }
    .main-social-media ul {
        font-size: 14px;
    }
    .arrow-down {
        margin-top: 100px;
    }
}
@media screen and (max-width: 320px) {
    .header__container {
        justify-content: center;
    }
    .header__container-img a img {
        margin-bottom: 20px;
    }
}