
/* DEKSTOP */
@media screen and (min-width: 1600px) {
    .wrapper-items1 {
        gap: 50px;
    }
    .wrapper-items3 {
        gap: 70px;
    }
    .about-me-container-skills, .about-me-container-info {
        font-size: 0.8em;
    }
    .projects__container-item {
        max-width: 280px;
    }
    .wrapper-about-page {
        font-size: 1.2em;
    }
    .form__container-fieldset legend {
        font-size: 1.6em;
    }
} 
/* /DEKSTOP */

/* LAPTOP */
@media screen and (max-width: 1600px) {
        .wrapper-items1 {
            gap: 15px;
        }
        .wrapper-items2 {
            gap: 0px;
        }
        .wrapper-items3 {
            gap: 0px;
        }
        .wrapper-items4 {
            gap: 0;
        }
        .wrapper-about-page {
            font-size: 1em;
        }
        .about-me-container-skills,
        .about-me-container-info {
            font-size: .8em;
        }
        .projects__container-item {
            max-width: 300px;
        }
        .form__container {
            max-width: 767px;
        }
        .modal__content {
            max-height: 700px;
            width: 50%;
        }
    }

@media screen and (max-width: 1080px) {
    .wrapper-items {
        gap: 0px;
    }
    .modal__content {
        width: 60%;
    }
    .projects__container {
        gap: 30px;
    }
    .projects__container-item {
        max-width: 260px;
    }
    .header__container {
        justify-content: space-around;
    }
    .about-me-container div {
        margin: 10px 60px;
    }
    .about-me-container-info p {
        padding: 0;
        margin: 15px 0px;
    }
    .about-me-container-list {
        margin: 0;
    }
    .about-me-container {
        flex-wrap: wrap;
    }
    .form__container-fieldset button:hover,
    .projects__container-item-button button:hover {
        transform: scale(1);
    }
    

}
/* /LAPTOP */

/* TABLET */
@media screen and (max-width: 1000px) {
    .wrapper-about-page {
        margin-bottom: 0;
    }
    .projects__container-item {
        max-width: 236px;
    }
}
@media screen and (max-width: 870px) {
    .modal__content {
        width: 100%;
        height: 100%;
    }
    .modal__content img:hover {
        transform: scale(1.2);
    }
    .wrapper-items1, 
    .wrapper-items2,
    .wrapper-items3,
    .wrapper-items4 {
        gap: 0px;
    }
    #greeting {
        margin-top: 50px;
        max-width: 767px;
    }
    #greetingSecond {
        text-align: center;
        margin: 50px 0px;
        animation: typewriter 5s steps(200) 1s both;
    }
    .about-me-container-title {
        margin: 0;
    }
    .about-me-container-list,
    .about-me-container-title {
        margin: 10px 0;
    }
    .topBtn {
        right: 8%;
        bottom: 10%;
    }
    .about-me-container-text,
    .about-me-container-list {
        font-size: .7em;
    }
    .about-me-container-list li {
        min-width: 120px;
    }

}
@media screen and (max-width: 768px) {
    .about-me-container-text, 
    .about-me-container-list {
        font-size: .7em;
    }
    .arrow-down-item {
        width: 35px;
        height: 35px;
    }
    .arrow-down-item::before {
        width: 10px;
        height: 10px;
        left: 9px;
        top: 7px;
    }
}
@media screen and (max-width: 650px) {
    #greetingSecond {
        white-space: wrap;
        /* animation: typewriter 2s steps(200) 1s both; */
        animation: none;
    }
    .about-me-container div {
        margin: 10px;
    }
    .projects__container {
        gap: 10px;
    }
    .projects__container-item-img img:hover {
        transform: scale(1);
    }
    .projects__container-item {
        max-width: 220px;
    }
}
/* /TABLET */

/* PHONE */
@media screen and (max-width: 460px) {
    .projects__container-item {
        max-width: 150px;
    }
}
@media screen and (max-width: 425px) {
    .header__container-img {
        margin-top: 10px;
    }
    .header__container-menu {
        position: relative;
        left: 10px;
    }
    #greetingSecond .greetingSecondBold:focus, #greetingSecond .greetingSecondBold:hover {
        animation: borderPulse 1000ms infinite ease-out, colorShift 5000ms infinite ease-in, hoverShine 0ms;
    }
    .projects__container {
        gap: 15px;
        margin-top: 60px;
    }
    .mobile-responsive {
        display: none;
    }
    .wrapper-items {
        gap: 0px;
    }
    .wrapper-items1 {
        gap: 15px;
    }
    .topBtn {
        display: none;
    }
    .header__container {
        flex-direction: column;
    }
    .main-greeting {
        max-width: 425px;
    }
    .main-social-media ul li {
        margin: 10px;
    }
    .main-social-media ul {
        font-size: 18px;
    }
    #greeting {
        font-size: clamp(2.3em, 5vw, 6rem);
    }
    .wrapper-about-page {
        font-size: 1em;
        margin-top: 20px;
    }
    .about-me-container-list, .about-me-container-title {
        margin: 0;
    }
    .about-me-container-list {
        margin-top: 20px;
    }
    .about-me-container-title {
        font-size: .9em;
    }
    .about-me-container-info {
        border: none;
    }
    .about-me-container-info p {
        margin: 10px 0;
    }
    .topBtn  {
        right: 12%;
        bottom: 16%;
    }
    .arrow-down-item {
        width: 30px;
        height: 31px;
    }
    .arrow-down-item::before {
        left: 7px;
        top: 5px;
        width: 10px;
        height: 10px;
    }
    .projects__container-item {
        max-width: 160px;
        margin: 10px;
    }
    .projects__container-item-button button {
        padding: 5px 25px;
    }
    .form__container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .form__container-fieldset legend {
        font-size: 1.6em;
    }
    .form__container-fieldset label {
        font-size: 1.4em;
    }
    .form__container-fieldset input, .form__container-fieldset textarea {
        font-size: 1.2em;
    }
    .projects__container-item-img img:hover {
        transform: scale(1);
    }
    .main-social-media {
        position: absolute;
        top: 96%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-social-media ul {
        flex-direction: row;
    }
    .main-social-media ul li a i:hover::after {
        bottom: 20px;
        left: -15px;
        padding: 5px 0;
    }
    .projects__container-item-button button {
        margin: 10px 5px;
    }
    
}
@media screen 
and (max-width: 425px)
and (min-width: 376px) {
    .about-me-container-title {
        margin-top: 20px;
    }
}
@media screen and (max-width: 375px) {
    .projects__container {
        gap: 0;
    }
    .header__container-img a img {
        width: 60px;
    }
    .about-me-container-text, .about-me-container-list {
        font-size: .7em;
    }
    .projects__container-item {
        max-width: 140px;
    }
    .modal__content  {
        padding: 10px 30px;
    }
    .arrow-down-item::before {
        width: 10px;
        height: 10px;
        left: 7px;
        top: 5px;
    }
}
@media screen and (max-width: 320px) {
    .header__container {
        justify-content: center;
    }
    #greeting {
        font-size: clamp(1.5em, 5vw, 6rem);
    }
    .header__container-menu {
        margin: 0;
    }
    .header__container-img a img {
        margin-bottom: 20px;
    }
    #greetingSecond {
        max-height: 37px;
        /* animation: typewriter 2s steps(200) 1s both; */
        -webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
    }
    #greetingSecond span:focus, #greetingSecond span:hover {
        animation: borderPulse 1000ms infinite ease-out, colorShift 5000ms infinite ease-in;
    }
    .about-me-container-info p {
        margin: 15px 0;
    }
    .about-me-container-list li {
        min-width: 110px;
        margin: 5px;
    }
    .projects__container-item {
        max-width: 130px;
        margin: 10px;
    }
    .modal__content  {
        padding: 10px 20px;
    }
    .modal__content p {
        margin: 0;
    }
}
@media screen and (max-width: 300px) {
    .projects__container-item {
        max-width: 100px;
    }
    #greeting {
        font-size: clamp(1.3em, 5vw, 6rem);
    }
    .about-me-container-list,
    .about-me-container-info p {
        margin: 0;
    }
    .about-me-container-title {
        margin: 5px 0;
    }
    .about-me-container-text, .about-me-container-list {
        font-size: .6em;
    }
    .about-me-container-list li {
        min-width: 92px;
        margin: 5px;
    }
    .nav-menu ul {
        gap: 10px;
    }
}
@media screen and (max-width: 300px) {
    .wrapper-about-page {
        margin-bottom: 0px;
    }
    .about-me-container div {
        margin: 10px;
    }
    .about-me-container-list li {
        min-width: 100px;
    }
}

/* /PHONE */