@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Black.woff2') format('woff2'),
        url('Cinzel-Black.woff') format('woff'),
        url('Cinzel-Black.svg#Cinzel-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-SemiBold.woff2') format('woff2'),
        url('Cinzel-SemiBold.woff') format('woff'),
        url('Cinzel-SemiBold.svg#Cinzel-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-ExtraBold.woff2') format('woff2'),
        url('Cinzel-ExtraBold.woff') format('woff'),
        url('Cinzel-ExtraBold.svg#Cinzel-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Regular.woff2') format('woff2'),
        url('Cinzel-Regular.woff') format('woff'),
        url('Cinzel-Regular.svg#Cinzel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Medium.woff2') format('woff2'),
        url('Cinzel-Medium.woff') format('woff'),
        url('Cinzel-Medium.svg#Cinzel-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cinzel';
    src: url('Cinzel-Bold.woff2') format('woff2'),
        url('Cinzel-Bold.woff') format('woff'),
        url('Cinzel-Bold.svg#Cinzel-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

